<!doctype html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NA Demo - Home / Docs</title>
  <link rel="stylesheet" href="/css/output.css">
</head>

<body>
  <section class="flex flex-col justify-center items-center max-w-2xl h-screen mx-auto">
    <h1 class="font-bold text-2xl pb-4">NA User Finder</h1>
    <h2 class="pb-4 font-semibold">A demo by Ahmad Yosry</h2>
    <div class="flex gap-4">
      <a href="/dashboard" class="btn">Dashboard</a>
      <a href="https://github.com/Gonksy/na-demo" target="_blank" class="btn">Github documentation</a>
    </div>
  </section>
</body>

</html>